      <ul class="menu">

	<li><a href="/" ><p>Home</p></a></li>

	<li><a href="about.html"><p>About Us</p></a></li>

	<li><p>People</p>
	    <ul>
	      <li><a href="faculty.html" ><p>Faculty</p></a></li>
	      <li><a href="visitors.html" ><p>Visitors</p></a></li>
	      <li><a href="students.html" ><p>Students</p></a></li>
	      <li><a href="staff.html" ><p>Staff</p></a></li>
	      <li><a href="past-members.html" ><p>Past Members</p></a></li>
	    </ul>
	</li>
	
	<li><p>Activities</p>
	  <ul>
	    <li><a href="teaching.html" ><p>Teaching</p></a></li>
	    <li><a href="research.html" ><p>Research</p></a></li>
	  </ul>
	</li>

	<li><p>Events</p>
	  <ul>
	    <li><a href="seminars.html" ><p>Seminars</p></a></li>
	    <li><a href="confs.html" ><p>Conferences and Workshops</p></a></li>
	  </ul>
	</li>

	<li><p>Join Us</p>
	  <ul>
	    <li><a href="faculty-positions.html" ><p>Faculty Positions</p></a></li>
	    <li><a href="visiting-positions.html" ><p>Visiting Positions</p></a></li>
	  </ul>
	</li>

	<li><a href="general.html" ><p>General Information</p></a></li>
	<li><a href="sitemap.html" ><p>Site Map</p></a></li>

      </ul>
