body
{
    padding-top: 5px;
    font-family: 'Noto Sans';
}

@media print {
    body
    {
	font-family: 'Noto Serif';
	font-size: 110%;
    }
    pre code
    {
	font-size: 100%;
    }
}

pre code
{
    font-family: 'Noto Sans';
    font-size: 100%;
}

img
{
    display: block;
    !margin-left: auto;
    !margin-right: auto;
    width: 100%;
}

h1, h2, h3
{
    padding: 5px;
    padding-left: 0px;
    font-family: 'Noto Serif';
}

h1 { font-size: 1.6rem; text-weight: bold; }
h2 { font-size: 1.3rem; }
h3 { font-size: 1.2rem; }


nav#left-menu {
    /* position: fixed; */
    float: left;
    width: 400px;
}


nav#left-menu ul { 
    display: block;
    list-style-type: none;
    /* list-style-position: inside; */
    /* margin-left: 10px; */
}









.nav-link
{
    fill: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding: 5px;
}

.custom-nav-title 	/* for author/title */
{
    color: #ffffff;
    font-size: 1.6rem;
}

.nav-link:hover
{
    fill: #ffffff;
}


.dropdown-menu {         
    max-height: 85vh;
    overflow-y: auto;
}

ul.title-list
{
    list-style: none;
}

.dropdown-menu ul, ul.custom-toc-print
{ 
    display: inline;
    list-style: none;
    list-style-position: inside;
}

li.list-group-item
{ 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}


li.list-group-item a, ul.custom-toc-print li a
{ 
    text-decoration: none;
    color: inherit;
}

.dropdown-menu li:hover 
{ 
    background-color: #efefef;
}

div.custom-main-content
{
    max-width: 900px;
    margin: auto;
    background: #F0F8CF;
    padding: 10px;
    min-height: 560px;
}

div.footer
{
    max-width: 900px;
    margin: auto;
    background: #F0F8CF;
    padding: 10px;
    text-align: center;
    background: #B15928;
    color: #FFFF99;
}


img.img-fluid
{
    width: "100% \9"; /* IE bug workaround?*/
    max-height: 500px;
}

