<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ page.language }}" xml:lang="">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta name="author" content="Stat Math Unit, ISI Delhi" />
  <title>{{ page.title }}</title>

  <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Serif" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Sans" >
  <link rel="stylesheet" href="/assets/styles/custom.css"> <!-- custom styles -->

</head>

<body>
  <div id="page-content">
    <section>

      <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="topnav">
	<div class="container-fluid">

	  <div class="navbar-header">
	    <div class="btn-group navbar-nav nav-item dropdown">
	      <button type="button" class="btn nav-link"
		      data-toggle="dropdown" aria-haspopup="true"
		      aria-expanded="false">
                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" width="24" height="32">
                   <path fill-rule="evenodd" d="M11.41 9H.59C0 9 0 8.59 0 8c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4H.59C0 5 0 4.59 0 4c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zM.59 11H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1H.59C0 13 0 12.59 0 12c0-.59 0-1 .59-1z">
                   </path>
                 </svg>
	      </button>
	      <div class="dropdown-menu">
		<a href="/" class="dropdown-item" role="button">
		  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="24" height="24">
		    <path fill-rule="evenodd" d="M16 9l-3-3V2h-2v2L8 1 0 9h2l1 5c0 .55.45 1 1 1h8c.55 0 1-.45 1-1l1-5h2zm-4 5H9v-4H7v4H4L2.81 7.69 8 2.5l5.19 5.19L12 14z"></path>
		  </svg>
		  Home
		</a>

		<ul>
		  <li><p><a href="about.html">About Us</a></p></li>

		  <!-- Possible sub-pages: past faculty, past research scholars -->
		  
		  <li><p>People</p>
		    <ul>
		      <li><a href="faculty.html" >Faculty</a></li>
		      <li><a href="visitors.html" >Visitors</a></li>
		      <li><a href="students.html" >Students</a></li>
		      <li><a href="staff.html" >Staff</a></li>
		      <li><a href="past-members.html" >Past Members</a></li>
		    </ul>
		  </li>
		  
		  <li><p>Activities</p>
		    <ul>
		      <li><a href="teaching.html" >Teaching</a></li>
		      <li><a href="research.html" >Research</a></li>
		    </ul>
		  </li>

		  <li><p>Events</p>
		    <ul>
		      <li><a href="seminars.html" >Seminars</a></li>
		      <li><a href="confs.html" >Conferences and Workshops</a></li>
		    </ul>
		  </li>

		  <li><p>Join Us</p>
		    <ul>
		      <li><a href="seminars.html" >Faculty Positions</a></li>
		      <li><a href="confs.html" >Visiting Positions</a></li>
		    </ul>
		  </li>

		  <li><p><a href="general.html" >General Information</a></p></li>
		  <li><p><a href="sitemap.html" >Site Map</a></p></li>
		  
		</ul>

	      </div>
	    </div>
	  </div>

	  <div class="navbar-header">
	    <span class="custom-nav-title h1">{{ page.title }}</span>
	  </div>

	</div>
      </nav>

      <div class="container-fluid custom-main-content">
	{{ content }}
      </div>

      <div class="container-fluid footer"> 
	For feedback and queries, contact statmath [at] isid.ac.in	
      </div>
      
    </section>
  </div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous">
</script>
  
<script src="/assets/scripts/jquery.bootstrap-autohidingnavbar.js" ></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous">
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous">
</script>


</body>
</html>
