<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta name="author" content="{{ page.author }}" />
  <title>{{ page.title }}</title>

  <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre Franklin" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Sans" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Serif" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira Code" >

  <!-- <link rel="stylesheet" href="assets/styles/custom.css"> -->
  <link rel="stylesheet" href="assets/styles/dropdown.css">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.0/css/all.css?ver=5.3.0' type='text/css' media='all' />
</head>

<body>
  <div class="container">
  <header id="topnav">

    <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <nav class="navbar navbar-expand-lg"> <!-- navbar-light bg-light -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<!-- <span class="navbar-toggler-icon"></span> -->
	<i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse align-right" id="navbarNav">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item active">
            <a class="nav-link" href="/" title="Home"><i class="fas fa-home"></i><span class="sr-only">homepage</span></a>
	  </li>	  
	  <li class="nav-item active">
            <a class="nav-link" href="about.html" title="About Us">About<span class="sr-only">homepage</span></a>
	  </li>

	  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              People
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	      <ul class="menu">
		<li><a href="faculty.html" ><p>Faculty</p></a></li>
		<li><a href="visitors.html" ><p>Visitors</p></a></li>
		<li><a href="students.html" ><p>Students</p></a></li>
		<li><a href="staff.html" ><p>Staff</p></a></li>
		<li><a href="past-members.html" ><p>Past Members</p></a></li>
	      </ul>
            </div>
	  </li>


	  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Activities
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	      <ul class="menu">
		<li><a href="teaching.html" ><p>Teaching</p></a></li>
		<li><a href="research.html" ><p>Research</p></a></li>
	      </ul>
            </div>
	  </li>


	  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Events
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	      <ul class="menu">
		<li><a href="seminars.html" ><p>Seminars</p></a></li>
		<li><a href="confs.html" ><p>Conferences and Workshops</p></a></li>
	      </ul>
            </div>
	  </li>


	  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Join Us
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	      <ul class="menu">
		<li><a href="faculty-positions.html" ><p>Faculty Positions</p></a></li>
		<li><a href="visiting-positions.html" ><p>Visiting Positions</p></a></li>
	      </ul>
            </div>
	  </li>


	  

	  <li class="nav-item active">
            <a class="nav-link" href="general.html" title="General Information">Information<span class="sr-only">general information</span></a>
	  </li>	  

	  <li class="nav-item active">
            <a class="nav-link" href="sitemap.html" title="Sitemap">Sitemap<span class="sr-only">sitemap</span></a>
	  </li>	  

	</ul>
      </div>

      <a class="navbar-brand" href="/">
	<span>SMU Delhi</span>
	<!-- <img src="smud.svg" height="62" width="400" alt="Stat-Math Unit, ISI Delhi" /> -->
      </a>

    </nav>
  </header>

  <main id="page-content">
    <section>
      <!-- <div class="container"> -->
	<header>
	  <h1 class="title">{{ page.title }}</h1>
	  <p class="author">{{ page.author }}</p>
	</header>
	<hr class="hr-primary"/>

	{{ content }}

      <!-- </div> -->
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	  crossorigin="anonymous">
  </script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	  crossorigin="anonymous">
  </script>

  <!-- prism and necessary plugins -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js" integrity="sha512-/Swpp6aCQ0smuZ+zpklJqMClcUlvxhpLf9aAcM7JjJrj2waCU4dikm3biOtMVAflOOeniW9qzaNXNrbOAOWFCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-clike.min.js" integrity="sha512-/Rynaa6ehLZJO9fdk+EUsgiOdJqFSFUB4Qgy+gP4vU4U1DrmPJWypfXe1CgyaV7rRdZjGxdpLe9djxhx1ZHvqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Needs to be modified to tag bindings -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-r.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  </div>
</body>
</html>
